/* Viewports */

$viewport-mobile: 320px;
$viewport-mobile-large: 360px;
$viewport-tablet-portrait: 640px;
$viewport-large: 1020px;
$viewport-xlarge: 1281px;
$viewport-xxlarge: 1420px;


/* Easing */

$transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
$transition-timing-function-symmetric: cubic-bezier(0.4, 0.0, 0.6, 1);
$transition-duration-long: 300ms;
$transition-duration-short: 150ms;

$transition-duration-super-long: 900ms;
$transition-delay-1: 100ms;
$transition-delay-2: 200ms;
$transition-delay-3: 300ms;
$scroll-effect-offset: 48px;

